@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

:root {
    --clr-dark-green: #3c6255;
    --clr-medium-dark-green: #61876e;
    --clr-medium-light-green: #a6bb8d;
    --clr-light-green: #eae7b1;
    --clr-light-background: #d1d7dc7e;
}

html {
    font-family: "Poppins", sans-serif;
}

main {
    padding-top: 3rem;
    background-color: var(--clr-light-background);
    min-height: 100vh;
}

/* COMMON */
h1 {
    font-size: 4rem;
    color: var(--clr-dark-green);
}

h2 {
    font-size: 1.75rem;
    color: var(--clr-dark-green);
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    color: var(--clr-dark-green);
}

p {
    line-height: 1.75rem;
}

b {
    color: var(--clr-dark-green);
}

.medium-light-green {
    color: var(--clr-medium-light-green);
}

.container {
    padding: 3rem 16rem;
}

.container-header {
    padding: 0.5rem 16rem;
}

.container-form {
    padding: 3rem 16rem;
    width: 60rem;
    margin: 0 auto;
}

label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: var(--clr-medium-light-green);

    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--clr-light-green);
}
